<?xml version='1.0' encoding='utf-8'?>
<odoo>
    
    <!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
    <menuitem id="perpustakaan_menu_root"
              name="PERPUSTAKAAN" 
              sequence="10"/>
              
    <!-- This Menu Item Must have a parent -->
    <menuitem id="buku_menu_categ" 
              name="BUKU" 
              parent="perpustakaan_menu_root" 
              sequence="10"/>
    
    <!-- This Menu Item Must have a parent -->
    <menuitem id="peminjaman_buku_menu_categ" 
              name="PEMINJAMAN" 
              parent="perpustakaan_menu_root" 
              sequence="10"/>
        
    <!-- This Menu Item Must have a parent -->
    <menuitem id="pengembalian_buku_menu_categ" 
              name="PENGEMBALIAN" 
              parent="perpustakaan_menu_root" 
              sequence="20"/>
</odoo>